body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header,
.main,
.footer {
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 156px;
    padding-right: 156px;
}

.logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    color: #2E2F42;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo:hover,
.logo:focus,
.logo:active {
    color: #404bbf ;
}

.logo span,
.footer-logo span {
    color: #2E2F42;
}

.navigation {
}

.nav-list {
    padding: 0;
    margin-left: 76px;
}

.nav-item {
    display: inline-block;
    margin-right: 40px;
}

.nav-item:last-of-type {
    margin-right: 0;
}

.nav-link {
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.address {
    font-style: normal;
}

.address-item {
    display: inline-block;
    margin-right: 40px;
}

.address-item:last-of-type {
    margin-right: 0;
}

.address-link {
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.address-link:hover,
.address-link:focus,
.address-link:active {
    color: #404bbf;
}

.banner {
    background: #2E2F42;
    padding: 188px 472px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 48px;
    text-align: center;
    line-height: 1.07;
}

.banner-button {
    font-family: "Roboto", sans-serif;
    border: none;
    background: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    height: 56px;
    border-radius: 4px;
    color: #fff;
    line-height: 1.5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 16px;
}

.banner-button:hover,
.banner-button:active,
.banner-button:focus {
    background-color: #404bbf;
}

.section {
    padding: 120px 0;
}

.hidden {
    visibility: hidden;
}

.about-list,
.team-list,
.portfolio-list {
    text-align: center;
}

.about-item,
.team-member {
    background-color: #fff;
    display: inline-block;
    margin-right: 24px;
}

.about-item:last-of-type,
.team-member:last-of-type {
    margin-right: 0;
}

.about-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
}

.about-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.team {
    background-color: #F4F4FD;
}

.section-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: #2E2F42;
}

.team-member {
    padding-bottom: 16px;
}

.member-name,
.item-name {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;
    text-transform: capitalize;
}

.team-position,
.description {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list {
    flex-wrap: wrap;
}

.portfolio-item {
    display: inline-block;
    margin-right: 24px;
}

.portfolio-item:last-of-type {
    margin-right: 0;
}

.info-wrapper {
    padding: 16px;
}

.item-name,
.description {
    text-align: left;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 156px;
}

.footer-logo {
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-text {
    color: #ffffff;
    line-height: 1.5;
}


